<%- include('../partials/_head') %>
    <%- include('../partials/_nav') %>

        <div class="container cont1 animate__animated animate__flipInY">
            <div class="card card1">
                <div class="card-head bg-dark">
                    <h2>Agregar Herramienta</h2>
                </div>
                <div class="card-body">
                    <form action="/addHer" method="POST">
                        <div class="form-group mb-4">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="text" name="tipo" placeholder="Tipo" class="form-control" required>
                        </div>
                        <div class="form-group mb-4">
                            <select class="form-select" name="estado" aria-label="Estado">
                                <option value="En Uso">En Uso</option>
                                <option value="Disponible">Disponible</option>
                              </select>
                        </div>
                        <div class="form-group mb-4">
                            <input type="number" name="cantidad" placeholder="Cantidad" class="form-control" required>
                        </div>
                        <div class="form-group mb-4">
                            <input type="text" name="usuarios" placeholder="Usuario" class="form-control" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include('../partials/_footer') %>