<%- include('partials/_head') %>
<%- include('partials/_nav') %>

<center><h1>Dashborad muy pronto</h1></center>
<a href="/login">login</a>
<a href="/user">User</a>

<%- include('partials/_footer') %>